{% load static %}
<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: black;">
    <div class="container px-4 px-lg-5">
        <a class=" jp " href="https://www.linkedin.com/in/johanna-c-padilla/"> <strong> Johanna Padilla </strong></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'App_Final_Inicio' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'acerca' %}">Acerca de..</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ingresos</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'anime_form' %}">Ingresar Anime</a></li>
                        <li><a class="dropdown-item" href="{% url 'autor_form' %}">Ingresar Autor</a></li>
                        <li><a class="dropdown-item" href="{% url 'genero_form' %}">Ingresar Genero</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Info DB</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'mostrar_anime' %}">Animes</a></li>
                        <li><a class="dropdown-item" href="{% url 'mostrar_autor' %}">Autores</a></li>
                        <li><a class="dropdown-item" href="{% url 'mostrar_genero' %}">Generos</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Busquedas</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'buscar_anime' %}">Animes</a></li>
                        <li><a class="dropdown-item" href="{% url 'mostrar_autor' %}">Autores</a></li>
                        <li><a class="dropdown-item" href="{% url 'mostrar_genero' %}">Generos</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <a href="">Ingresar</a>
                </button>
            </form>
        </div>
    </div>
</nav>